{% load i18n %} {% block html_body %}
<p>
  {% blocktrans %}You're receiving this email because you requested a password
  reset for your user account at {{ site_name }}.{% endblocktrans %}
</p>

<p>Please click on the button below to reset your password in-app:</p>
<!-- href="https://lemeow125.github.io/simple-redirect/#/redirect/{{ domain }}/activation/{{uid}}/{{token}}" -->
<p>
  <a
    href="http://192.168.1.17:5173/simple-redirect/#/redirect/{{ domain }}/(auth)/reset_password/{{uid}}/{{token}}"
    style="
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    "
  >
    Reset Password
  </a>
</p>
<p>Your username, in case you've forgotten: {{ user.username }}</p>

<p>
  {% blocktrans %}Many thanks from the {{ site_name }} team{% endblocktrans %}
</p>

{% endblock html_body %}
