[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
python-dotenv = "*"
djoser = "*"
django-money = "*"
whitenoise = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
psycopg2 = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
